* {
  padding: 0%;
}
.all-header {
  display: block;
  text-align: center;
  height: 100px;
  margin-top: 10px;
  background-color: rgb(0, 89, 88);
  margin-top: 0;
}
body {
  margin-top: 0;
}
.header-top {
  display: inline-flex;
  width: 80%;
  text-align: center;
}
.header-bottom {
  display: flex;
}
.top-right {
  display: inline-block;
  text-align: right;
  width: 50%;
}
.top-left {
  display: inline-block;
  text-align: left;
  width: 50%;
}
#logo {
  list-style: none;
  overflow: hidden;
  float: left;
  margin-left: 40%;
}
#logo li {
  width: 80px;
  display: inline-block;
}
#logo li a {
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}
.instagram {
  border-left: solid thin #000;
  border-right: solid thin #000;
  text-align: center;
}
.facebook {
  text-align: center;
}
.name {
  font-size: 50px;
  margin: 5px;
  color: aliceblue;
}
.code-name {
  font-size: 10px;
  color: aliceblue;
  margin: 5px;
}
