* {
  padding: 0%;
}
.all-header {
  display: block;
  text-align: center;
  height: 100px;
  margin-top: 10px;
  background-color: rgb(0, 89, 88);
  margin-top: 0;
  border-bottom: solid thick rgb(0, 136, 135);
}
body {
  margin-top: 0;
}
.header-top {
  display: inline-flex;
  width: 80%;
  text-align: center;
}
.header-bottom {
  display: flex;
}
.top-right {
  display: inline-block;
  text-align: right;
  width: 50%;
}
.top-left {
  display: inline-block;
  text-align: left;
  width: 50%;
}
#logo {
  list-style: none;
  overflow: hidden;
  float: left;
  margin-left: 35%;
  color: white;
}
#logo li {
  width: 80px;
  display: inline-block;
}
#logo li a {
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}
.instagram {
  border-left: solid thin #000;
  border-right: solid thin #000;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.facebook {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.name {
  font-size: 50px;
  margin: 5px;
  color: aliceblue;
}
.code-name {
  font-size: 15px;
  color: aliceblue;
  margin: 5px;
}
.fa-4x {
  font-size: 4em;
  color: white;
}
.twitter {
  margin-left: 5px;
  margin-right: 5px;
}
#botttom-menu ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
}
#botttom-menu ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
}
#bottom-menu li {
  color: #fff;
  text-transform: uppercase;
}
.btn4::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #3367ff;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.btn4:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.btn2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #3367ff;
}

.btn4 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.bottom-menu {
  text-align: center;
  width: 100%;
}
ul.btn-menu {
  margin-top: 0%;
  margin-bottom: 0;
  margin-right: 0;
  text-align: center;
  font-size: 30px;
}
